@page "/";
@using _5_68_FileUploadDemo.Services;
@inject IFileUpload fileUpload;

<div class="col-6">
    <h1 class="mb-4">File Upload in Blazor</h1>
    <div class="form-group mb-1">
        <InputFile OnChange="OnInputFileChange" multiple class="mb-2" />
        <button class="btn btn-sm btn-success" type="button" @onclick="UploadFiles">Upload</button>
    </div>
    <div>
        <label>@labelText</label>
    </div>
    <div class="progress">
        <div class="progress-bar" style="width: 50%" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25">
            50%
        </div>
    </div>
</div>

@code {
    IReadOnlyList<IBrowserFile> selectedFiles;
    private string labelText = "";
    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = new List<IBrowserFile>();
        selectedFiles = e.GetMultipleFiles();
        Console.WriteLine("Input file change...");
        foreach (IBrowserFile file in selectedFiles)
        {
            Console.WriteLine(file.ToString());
        }
    }

    private async Task UploadFiles()
    {
        try
        {
            if (selectedFiles is not null && selectedFiles.Count > 0)
            {
                foreach (var file in selectedFiles)
                {
                    await fileUpload.UploadFile(file);            
                }
                labelText = $"Upload of {selectedFiles.Count} files successful!";
            }
        } catch (Exception ex)
        {
            labelText = $"Upload failed due to -> {ex.Message}";    
        }
    }
}