@page "/"

<div class="col-6">
    <h1>File Upload in Blazor</h1>
    <div class="form-group">
        <InputFile OnChange="OnInputFileChange" multiple />
        <button class="btn btn-sm btn-success" type="button" @onclick="UploadFiles">Upload</button>
    </div>
</div>

@code {
    private void OnInputFileChange()
    {
        Console.WriteLine("Hello from input file change.");
    }

    private async Task UploadFiles()
    {
        Console.WriteLine("Uploading files happens here...");
    }
}